body, html{
	height: 100%;
	margin: 0;
	font-size: 16px;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	line-height: 1.8em;
	color: #666;
	background-image: url(community.jpg);
	background-size: cover;
	background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
body{
	margin: 0;
	padding: 0;

}
section.sec1{
	height: 35px;
	box-sizing: border-box;
    background-repeat: no-repeat;
}
nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	background: rgb(0,0,0,0.8);
	padding: 0 100px;
	box-sizing: border-box;
}
nav .brand{
	float: left;
	height: 100%;
	line-height: 70px;
}
nav .brand .log img{
	width: 20%;
	height: 70px;

}
nav ul{
	float: right;
	display: flex;
	margin: 0;
	padding: 0;
}
nav ul li{
	list-style: none;

}
nav ul li a{
	position: relative;
	display: block;
	height: 70px;
	line-height: 70px;
	padding: 0 20px;
	box-sizing: border-box;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	transition: .5s;
	border-radius: 8px;
}
nav ul li a:hover{
	color:#262626;
}
nav ul li a:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(247, 74, 74);
	transform-origin: right;
	z-index: -1;
	transform: scaleX(0);
	transition: transform .5s;
}
nav ul li a:hover:before{
	transform-origin: left;
	transform: scaleX(1);
}
nav ul li a.active{
	background: #E2472F;
	color: #fff;
	border-radius: 8px;

}
.section1{
	margin: 0;
	height: 100%;
	width: 100%;
	background-color: rgb(0,0,0,.6);
	position: relative;
	top: 100%;
	padding: 20px 20px;
	border: none;
	margin-right: 10%;
}
.one{
	position: absolute;
	top: 60%;
	left: 30%;
	transform: translate(-50%,-50%);
	width: 350px;
	height: 350px;
    padding: 50px 40px;
	box-sizing: border box;
	background: #fff;
	border-radius: 50px;
}
.two{
	position: absolute;
	top: 60%;
	left: 30%;
	transform: translate(-50%,-50%);
	width: 350px;
	height: 390px;
    padding: 50px 40px;
	box-sizing: border box;
	background: #fff;
	border-radius: 50px;
}
.three{
	position: absolute;
	top: 60%;
	left: 30%;
	transform: translate(-50%,-50%);
	width: 350px;
	height: 350px;
    padding: 50px 40px;
	box-sizing: border box;
	background: #fff;
	border-radius: 50px;
}